@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.dark-controls .react-flow__controls-button {
  background-color: #1e293b;
  border-bottom: 1px solid #334155;
  color: #f1f5f9;
}
.dark-controls .react-flow__controls-button:hover {
  background-color: #334155;
}
.dark-controls .react-flow__controls-button svg {
  fill: #f1f5f9;
}
